#about
    .txt
        h1
            font-size: 35px
            font-weight: 700
        h3
            color: #7b838a
            font-size: 28px
            margin: 20px 0 35px
    .textbox
        width: 41%
        h2
            font-weight: 700
            font-size: 29px
            margin: 12px 0
        h4
            font-size: 30px
            color: #72777c
            line-height: 1.6
    .txtright
        text-align: right
        margin-right: 50px
    .txtleft
        margin-left: 50px
    .imgbox
        border-radius: 50%
        border: 6px solid #e1e5e9
        width: 190px
        margin: 35px -4px
    .btnbox
        display: flex
        justify-content: center
        .btn
            border-radius: 50%
            border: 7px solid #e9ecef
            background-color: #ffc800
            padding: 16px 31px
            color: #fff
            font-size: 25px
            font-weight: 700
            width: 161px
            height: 153px