#about
    padding-top: 105px
    h1
        font-weight: 700
        font-size: 40px
    h4
        font-size: 20px
        color: #868383
        margin: 22px 0 90px 16px
    .textbox
        text-align: right
        h2,h3
            font-weight: 700
            font-size: 30px
            margin-right: 20px
        h6
            font-size: 25px
            color: #9c9a9a
            margin: 20px 20px 20px 87px
            line-height: 1.4
    h5
        font-weight: 700
        font-size: 30px
        color: #fff
        background-color: #fcd00f
        border-radius: 150px
        padding: 33px 10px
        margin: 55px 142px 0 144px
    .imgbox
        width: 150px
        border-radius: 125px
        
