#about
    padding: 80px 0
    h1
        font-size: 35px
        font-weight: 700
    h3
        color: #7b838a
        font-size: 28px
        margin: 20px 0 35px
    .textbox
        width: 41%
        h2
            font-weight: 700
            font-size: 29px
            margin: 12px 0
        h4
            font-size: 30px
            color: #72777c
            line-height: 1.6
    .txtright
        text-align: right
        margin-right: 50px
    .txtleft
        margin-left: 50px
    .imgbox
        border-radius: 50%
        border: 6px solid #e1e5e9
        width: 190px
        margin: 35px -4px
    .btnbox
        display: flex
        justify-content: center
        .btn
            border-radius: 50%
            border: 7px solid #e9ecef
            background-color: #ffc800
            padding: 16px 31px
            color: #fff
            font-size: 25px
            font-weight: 700
            width: 161px
            height: 153px

    @media screen and ( min-width: 576px )
        .textbox
            text-align: left
            width: 600px
            h4
                margin: 0
        .txt-right
            text-align: left
            h3
                margin: 0
        .imgbox
            width: 195px
            margin-right: 50px
        .btnbox
            h5
                font-size: 20px
                width: 111px
                padding: 13px 20px
                margin: 0

    @media screen and ( min-width: 768px )
        // .reverse
        //     display: flex
        //     flex-direction: row
        .textbox
            text-align: right
            max-width: 272px
            margin-right: 25px
        .txt-left
            text-align: left
        .imgbox
            width: 85px
            margin-right: 20px
        .btnbox
            h5
                font-size: 15px
                width: 86px
                padding: 11px 5px
                margin-right: 25px
        // .edit
        //     justify-content: center

    @media screen and ( min-width: 992px )
        .textbox
            text-align: right
            max-width: 384px
        .txt-left
            text-align: left
        .imgbox
            width: 195px
        .btnbox
            h5
                font-size: 19px
                width: 105px
                padding: 12px 18px

    @media screen and ( min-width: 1200px )
        .textbox
            text-align: right
            max-width: 535px
        .txt-left
            text-align: left
        .imgbox
            max-width: 160px
        .btnbox
            h5
                font-size: 28px
                width: 159px
                padding: 26px 18px