#contact
    background-image: url(assets/map-image.png)
    background-color: #242424
    h1
        font-weight: 700
        font-size: 30px
        color: #fff
    h3
        color: #777474
        font-size: 15px
        margin: 20px 0 50px
    input
        border: 2px solid #b5b5b5
        color: #bdbdbd
        font-size: 14px
        font-weight: 600
        margin: 0 0 19px 115px
        height: 61px
        width: 517px
    .textarea,textarea
        width: 100vw
    textarea
        padding: 17px
        font-weight: 700
        border-radius: 6px
        height: 221px
        width: 525px
        color: #bbb8b8
    .btn
        background-color: #eec305
        color: #fff
        font-weight: 700
        font-size: 17px
        margin-top: 26px
        padding: 16px 34px
        opacity: 0.6
    @media screen and ( max-width:  )
