#contact
    background-image: url(assets/map-image.png)
    background-color: #242424
    h1
        font-weight: 700
        font-size: 30px
        color: #fff
    h3
        font-size: 15px
        margin: 20px 0 60px
    input
        color: #bdbdbd
        font-size: 12px
        font-weight: 600
        padding: 16px 79px 17px 17px
        margin: 0 0 19px 130px
        width: 467px
    textarea
        padding: 17px
        font-weight: 700
        border-radius: 6px
    .btn
        background-color: #eec305
        color: #fff
        font-weight: 700
        font-size: 17px
        margin-top: 26px
        padding: 16px 34px
        opacity: 0.6