footer
    padding: 20px 0
    h1,h2,h3
        font-size: 18px
    h1
        margin: 20px
    ul
        display: flex
        justify-content: center
        li
            background-color: #000
            color: #fff
            border-radius: 50%
            height: 30px
            width: 30px
            margin: 13px 0 19px 18px
            display: flex
            justify-content: center
            align-items: center
            .icon
                font-size: 10px
                i
                    &:hover
                        cursor: pointer
    h2,h3
        display: inline-block
        margin: 16px 16px
    @media screen and ( max-width: 992px)
        h1,h2,h3
            font-size: 14px
        ul
            li
                padding: 7px 12px 9px
                i
                    width: 9px
                    font-size: 11px
