#soft
    .soft
        width: 185px
        margin: 78px
    .google
        width: 160px
        margin: 67px
    .facebook
        width: 175px
        margin: 73px
    .ibm
        width: 124px
        margin: 73px

