#team
    background-color: #e1e9e9
    padding: 80px
    h1
        font-weight: 700
        font-size: 40px
    h4
        font-size: 18px
        color: #888383
        margin-top: 15px
    .textbox
        h2
            font-weight: 700
            font-size: 30px
        h3
            font-size: 20px
            color: #999595
            margin: 10px 0 13px 0
        ul
            display: flex
            justify-content: center            
            li
                background-color: #080808
                color: #fff
                border-radius: 39px
                width: 43px
                height: 40px
                margin: 10px
                justify-content: center            
            li
                background-color: #080808
                color: #fff
                border-radius: 39px
                width: 43px
                height: 40px
                margin: 10pxc
    h5
        color: #858080
        font-size: 20px
        margin-top: 37px
        line-height: 1.2
    .imgbox
        margin: 75px
        margin-bottom: 30px
