body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 60px 0;
}

header {
  background-color: #212529;
  padding: 30px 0;
  z-index: 1;
  position: fixed;
  width: 100%;
}
header .imgbox {
  width: 180px;
}
header nav a {
  color: #fff;
  margin-right: 34px;
  font-size: 20px;
}
header nav :hover {
  color: #ffc800;
  cursor: pointer;
}
header .box {
  border: 1px solid #333030;
  padding: 18px;
  border-radius: 10px;
}
header .box h1 {
  color: #a39e9e;
  font-size: 22px;
  margin-right: 15px;
}
header .box .icon {
  font-size: 25px;
  color: #817d7d;
}
@media screen and (max-width: 1024px) {
  header nav {
    display: none;
  }
  header .box {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  header .box {
    display: none;
    position: absolute;
  }
  header .box h1, header .box .icon {
    display: none;
  }
  header nav {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  header .imgbox {
    width: 160px;
  }
  header .box {
    padding: 6px;
  }
  header .box .icon, header .box h1 {
    font-size: 20px;
  }
}

#ourstudio {
  background-image: url("assets/header-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}
#ourstudio .box {
  height: 67vh;
}
#ourstudio .box .textbox h2, #ourstudio .box .textbox h1, #ourstudio .box .textbox h3 {
  color: #fff;
}
#ourstudio .box .textbox h2 {
  font-weight: 500;
  font-size: 40px;
}
#ourstudio .box .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 28px 0 55px 0;
}
#ourstudio .box .textbox .btn {
  background-color: #ffd607;
  font-size: 22px;
  padding: 15px 35px;
}
#ourstudio .box .textbox .btn:hover h3 {
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  #ourstudio .box .textbox h2 {
    font-size: 37px;
  }
  #ourstudio .box .textbox h1 {
    font-size: 45px;
  }
  #ourstudio .box .textbox h3 {
    font-size: 35px;
  }
}

#services h1, #services h3 {
  color: #000000;
}
#services h1 {
  font-weight: 700;
  font-size: 38px;
}
#services h3 {
  font-size: 20px;
  color: #8d8989;
  margin: 24px 0 45px;
}
#services h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 30px 0;
}
#services h4 {
  font-size: 20px;
  color: #777070;
  line-height: 1.5;
  margin: 28px 0;
}
#services .icon i {
  font-size: 45px;
  border-radius: 100px;
  background-color: #ffc60a;
  color: #fff;
  padding: 40px;
}
@media screen and (max-width: 1200px) {
  #services h1 {
    font-size: 30px;
  }
  #services h2 {
    font-size: 20px;
  }
  #services h4 {
    font-size: 17px;
  }
  #services h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  #services h1 {
    font-size: 25px;
  }
  #services h2 {
    font-size: 15px;
  }
  #services h4 {
    font-size: 17px;
  }
  #services h3 {
    font-size: 16px;
  }
}

#portfolio {
  background-color: #f1fafb;
  padding: 95px 0;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio h4 {
  font-size: 20px;
  color: #747171;
  margin: 23px 0 65px 0;
}
#portfolio .textbox {
  text-align: center;
  margin: 20px 0;
}
#portfolio .textbox h2 {
  font-weight: 600;
  font-size: 35px;
}
#portfolio .textbox h3 {
  font-size: 26px;
  color: #838080;
  margin: 14px 12px 60px 12px;
}
#portfolio .imgbox {
  position: relative;
}
#portfolio .imgbox .overlay {
  color: #fff;
  background-color: #f0ba27;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 1s;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
}
#portfolio .imgbox .overlay:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #portfolio h1 {
    font-size: 30px;
  }
  #portfolio .textbox h2 {
    font-size: 25px;
  }
  #portfolio .textbox h3 {
    font-size: 20px;
  }
}

#about h1 {
  font-size: 35px;
  font-weight: 700;
}
#about h3 {
  color: #7b838a;
  font-size: 28px;
  margin: 20px 0 60px;
}
#about .textbox {
  width: 41%;
}
#about .textbox h2 {
  font-weight: 700;
  font-size: 29px;
  margin: 12px 0;
}
#about .textbox h4 {
  font-size: 26px;
  color: #72777c;
  line-height: 1.6;
}
#about .txtright {
  text-align: right;
  margin-right: 50px;
}
#about .txtleft {
  margin-left: 50px;
}
#about .imgbox {
  border-radius: 50%;
  border: 6px solid #e1e5e9;
  width: 190px;
  margin: 0 -4px;
}
#about .btnbox {
  display: flex;
  justify-content: center;
}
#about .btnbox .btn {
  border-radius: 50%;
  border: 7px solid #e9ecef;
  background-color: #ffc800;
  padding: 16px 31px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  width: 161px;
  height: 153px;
}

#team {
  background-color: #e1e9e9;
  padding: 80px;
}
#team h1 {
  font-weight: 700;
  font-size: 40px;
}
#team h4 {
  font-size: 18px;
  color: #888383;
  margin-top: 15px;
}
#team .textbox h2 {
  font-weight: 700;
  font-size: 30px;
}
#team .textbox h3 {
  font-size: 20px;
  color: #999595;
  margin: 10px 0 13px 0;
}
#team .textbox ul {
  display: flex;
  justify-content: center;
}
#team .textbox ul li {
  background-color: #080808;
  color: #fff;
  border-radius: 72px;
  width: 36px;
  height: 36px;
  margin: 10px;
  padding: 9px 21px 0 10px;
}
#team .textbox li:hover, #team .textbox i:hover {
  cursor: pointer;
}
#team h5 {
  color: #858080;
  font-size: 20px;
  margin: 10vh 30vh 7vh 25vh;
  line-height: 1.2;
}
#team .imgbox {
  margin: 75px;
  margin-bottom: 30px;
  border-radius: 245px;
}
@media screen and (max-width: 500px) {
  #team h1 {
    font-size: 30px;
  }
  #team h4 {
    font-size: 13px;
  }
  #team .textbox h2 {
    font-size: 25px;
  }
  #team .textbox h3 {
    font-size: 15px;
  }
}

#soft .imgbox {
  width: 50px;
}
#soft .imgbox img:hover {
  cursor: pointer;
}

#contact {
  background-image: url(assets/map-image.png);
  background-color: #242424;
  background-position: center;
  background-size: cover;
}
#contact h1 {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
#contact h3 {
  font-size: 15px;
  margin: 20px 0 60px;
  color: #a3a2a2;
}
#contact .add input {
  font-size: 12px;
  font-weight: 600;
  padding: 16px 79px 17px 17px;
  margin: 0 0 18px 145px;
  width: 77%;
}
#contact textarea {
  padding: 16px;
  font-weight: 700;
  border: 2px solid #b4b4b4;
}
#contact .btn {
  background-color: #eec305;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  margin-top: 26px;
  padding: 16px 40px;
  opacity: 0.6;
}
@media screen and (max-width: 1400px) {
  #contact .add input {
    width: 73%;
  }
}
@media screen and (max-width: 1200px) {
  #contact .add input {
    width: 68%;
  }
  #contact textarea {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #contact .add input {
    width: 95%;
    margin-left: 19px;
  }
  #contact textarea {
    width: 105%;
  }
}
@media screen and (max-width: 768px) {
  #contact .add input {
    margin-left: 30px;
  }
  #contact textarea {
    width: 95%;
    margin-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */